@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0 30px 0 630px;
  margin: 0;
}

a {
  text-decoration: none;
  transition: .1s linear color;
}

* {
  box-sizing: border-box;
}

strong, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
