.loading-line {
  display: inline-block;
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.loading-bit {
  -webkit-animation: 2s ease infinite animWidth;
          animation: 2s ease infinite animWidth;
  background-color: #7B6BE6;
  border-radius: 0;
  display: inline-block;
  height: 100%;
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  vertical-align: top;
  width: 4px;
}

.loading-bit:nth-child(1) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.loading-bit:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loading-bit:nth-child(3) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.loading-bit:nth-child(4) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading-bit:nth-child(5) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.loading-bit:nth-child(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loading-bit:nth-child(7) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.loading-bit:nth-child(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading-bit:nth-child(9) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.loading-bit:nth-child(10) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loading-bit:nth-child(11) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.loading-bit:nth-child(12) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading-bit:nth-child(13) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

.loading-bit:nth-child(14) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loading-bit:nth-child(15) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.loading-bit:nth-child(16) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes animWidth {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    background-color: #7B6BE6;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animWidth {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    background-color: #7B6BE6;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
