{
  "presets": [ "react" ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Array"
        ]
      }
    ],
    "idx"
  ]
}